/* Background */
/* === Police Archivo Black === */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
    font-size: 18px;
    margin: 0;
    padding: 0;
    background-color: #0D0D07;
    background-image: url("fond.png");
    background-repeat: repeat;
    font-family: Arial, Helvetica, sans-serif;
    color: #EBB52F;
    text-align: center;
}

/* Logo */
.logo {
    margin-top: 40px;
    width: 250px;
    max-width: 80%;
}

/* Main text */
.intro-text {
    margin: 40px auto;
    width: 80%;
    font-size: 1.3rem;
    line-height: 1.8rem;
    padding: 20px 30px;
    border-radius: 6px;
}

/* Social icons */
.socials {
    margin-top: 40px;
}

.social-icon img {
    width: 60px;
    margin: 0 15px;
    transition: transform 0.25s ease, opacity 0.25s ease;
}

/* Animation au survol */
.social-icon img:hover {
    transform: scale(1.15);
    opacity: 0.85;
}
